<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <title>Here App</title>
        <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
        <style>
            input[type=text] {text-align: center;}
        </style>

        <script src="https://unpkg.com/dayjs"></script>
        <script src="https://unpkg.com/vue"></script>
        <!-- Full bundle -->
        <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
        <script src="vue-clipboard.min.js"></script>
    </head>
    <body>
        <section id="hereApp" class="hero is-fullheight">
            <div class="hero-head"></div>
            <div class="hero-body">
                <div class="container has-text-centered" style="max-width:500px">
                    <div class="content">
                    <h1 class="title">Here App</h1>
                    <form v-on:submit.prevent="addNew">
                        <div class="field is-grouped is-grouped-centered">
                            <p class="control has-icons-left">
                                <b-input v-model="name" placeholder="Who is here?" rounded></b-input>
                                <span class="icon is-small is-left">
                                  <i class="fas fa-user"></i>
                                </span>
                            </p>
                        </div>
                    </form>
                    <h3>{{ message }}</h3>
                    <div class="field is-grouped is-grouped-centered">
                        <template>
                            <b-datepicker icon-pack="fa" icon="calendar-alt" v-model="selectedDate" :events="listDate" indicators="bars" @input="getNames(selectedDate)" :date-formatter="dateFormat" :mobile-native="false" rounded>
                            </b-datepicker>
                        </template>
                    </div>
                    <div class="box" style="max-height:50%; overflow:auto">
                        <ol v-bind:reversed="isRev" class="has-text-left">
                            <li v-for="here in displayList">
                                {{ here.name }} {{ here.time | formatTime }}
                            </li>
                        </ol>
                    </div>
                    <button class="button is-small is-rounded" @click="isRev = !isRev; displayList = displayList.reverse()">Sort</button> <button class="button is-small is-light is-rounded" @click="clearList">Clear</button> <button class="button is-small is-info is-rounded" @click="doCopy">Copy</button>
                    </div>
                </div>
            </div>
            <div class="hero-foot"></div>
        </section>
        
        <script>
            var app = new Vue({
                el: '#hereApp',
                data: {
                    name: '',
                    displayList: [],
                    listDate: [],
                    listHere: [],
                    message: 'No one is here!',
                    isRev: true,
                    selectedDate: dayjs().startOf('day').toDate()
                },
                mounted() {
                    if (localStorage.getItem('listHere')) {
                        try {
                            this.listHere = JSON.parse(localStorage.getItem('listHere'))
                            if (this.listHere.length > 0) {
                                this.listDate = this.listHere.map(h => dayjs(h.date).toDate())
                            }
                            
                            this.getNames(this.selectedDate)
                        } catch(e) {
                            //localStorage.removeItem('listHere')
                        }
                    }
                    else {
                        this.listDate.push(this.selectedDate)
                    }
                },
                methods: {
                    addNew: function() {
                        if (this.name.trim() == '') {
                            this.name = ''
                            return
                        }
                        
                        var i = this.listHere.findIndex(h => h.date === dayjs(this.selectedDate).format('YYYYMMDD'))
                        if(i < 0) {
                            this.listHere.push({
                                date: dayjs(this.selectedDate).format('YYYYMMDD'),
                                names: []
                            })
                            i = this.listHere.length - 1;
                        }
                        
                        this.listHere[i].names.push({
                            name: this.name,
                            time: new Date()
                        })
                        this.message = this.name + " is here!"
                        this.name = ''
                        this.saveList()
                        this.displayList = this.listHere[i].names.slice()
                        if (this.isRev) this.displayList = this.displayList.reverse()
                    },
                    clearList() {
                      this.listHere = []
                      this.displayList = []
                      this.message = 'Noone is here!'
                      localStorage.removeItem('listHere')
                    },
                    saveList() {
                        const parsed = JSON.stringify(this.listHere)
                        localStorage.setItem('listHere', parsed)
                    },
                    doCopy: function () {
                        var names = '';
                        var i = this.listHere.findIndex(h => h.date === dayjs(this.selectedDate).format('YYYYMMDD'))
                        if (i < 0) return
                        names = this.dateFormat(this.listHere[i].date) + "\r\n";
                        this.listHere[i].names.forEach(function(item) {
  names += item.name + ' ' + dayjs(item.time).format('HH:mm:ss') + "\r\n";
});
                        this.$copyText(names).then(function (e) {
                          alert('Copied')
                          console.log(e)
                        }, function (e) {
                          alert('Can not copy')
                          console.log(e)
                        })
                    },
                    getNames(selectedDate) {
                        var i = this.listHere.findIndex(h => h.date === dayjs(this.selectedDate).format('YYYYMMDD'))
                        if (i >= 0) {
                            this.displayList = this.listHere[i].names.slice()
                            if (this.isRev) this.displayList = this.displayList.reverse()
                            this.message = this.listHere[i].names.length + ' people ' + (this.listHere[i].names.length > 1 ? 'were' : 'was') + ' here!'
                        }
                        else {
                            this.displayList = []
                            this.message = "No one was here!"
                        }
                    },
                    dateFormat(date) {
                        return dayjs(date).format('DD MMMM YYYY')
                    }
                },
                filters: {
                    formatTime: function(value) {
                        return dayjs(value).format('HH:mm:ss')
                    }
                }
            })
        </script>
    </body>
</html>
